<div id="dr-photo-slider-container">
    <div id="dr-photo-slider">
        <div class="dr-photo-big" (click)="hidePhoto()" 
            [class.dr-photo-big-selected]="i==selectedPhoto"
            *ngFor="let p of photos; let i=index;">

            <div id="dr-loader-p-{{p.Id}}" class="loader"></div>
            <img id="dr-big-p-{{p.Id}}" class="dr-p" >



            <div class="dr-photo-vote">&#9733;&#9733;&#9733;&#9733;&#9734;  &hearts;</div>
            {{p.Id}} {{p.Name}} {{p.Width }} {{p.Height}}
        </div>
    </div>
</div>

<div id="dr-gallery" >
    <div class="dr-column-container">
        <div *ngFor="let column of columns; let c = index" class="dr-photo-column">
            <div *ngFor="let p of photos; let i = index"  class="dr-photo-container">
                <img (click)="showPhoto(p, i)" *ngIf="i%columnsNumber==c"
                    class="dr-photo b-lazy" src="/assets/img/stub2.gif"
                    id="dr-p-{{p.Id}}"
                    data-src="/api/photo/{{p.Id}}/320"/>
            </div>
        </div>
    </div>
</div>