<div class="dr-galleries">
    <a href="https://github.com/pwiklowski/darkroom">
        <img id="dr-header-gh" src="/assets/img/github.png">
    </a>

    <div *ngFor="let g of galleries; let i = index"  class="dr-gallery-cover-container" id="{{g.Id}}"  (click)="hideCover(g.Id)">
        <div class="dr-gallery-cover-container" [style.background-image]="getImageUrl(g)" >
            <div class="dr-gallery-name"></div>
            <div class="dr-gallery-name-text"> {{ g.Name }}</div>
            <div class="dr-gallery-comment">{{ g.Comment }}</div>
        </div>
    </div>

    <div *ngIf="galleries.length == 0" class="dr-centered-error">
        No galleries found


    </div>


</div>


