<div id="dr-photo-slider-container">
    <div id="dr-photo-slider">
        <div class="dr-photo-big" (click)="hidePhoto()" [class.dr-photo-big-selected]="i==selectedPhoto" *ngFor="let p of photos; let i=index;">
            <img id="{{p.Id}}" class="dr-p" data-src="/photo/{{p.Id}}/1920">

            <div class="dr-photo-vote">&#9733;&#9733;&#9733;&#9733;&#9734;  &hearts;</div>
            {{p.Id}} {{p.Name}} {{p.Width }} {{p.Height}}
        </div>
    </div>
</div>

<div class="dr-list">
    <div class="dr-gallery">
<button class="btn btn-primary" (click)="lgModal.show()">Large modal</button>
<button class="btn btn-primary" (click)="newGalleryModal.show()">Create gallery</button>
        <div class="dr-title">{{gallery.Name}}</div>
        <div class="dr-comment">{{gallery.Comment}}</div>
        
        <div class="dr-column-container">
            <div *ngFor="let column of columns; let c = index" class="dr-photo-column">
                <div *ngFor="let p of photos; let i = index"  class="dr-photo-container">
                    <img (click)="showPhoto(p, i)" *ngIf="i%columnsNumber==c" class="dr-photo b-lazy" src="/static/stub2.gif" data-src="/photo/{{p.Id}}/320"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #newGalleryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="newGalleryModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Create new gallery</h4>
      </div>
      <div class="modal-body"> 
          Name <input #galleryName type="text"/><br>
      </div>
      <div class="modal-header">
          <button (click)="createGallery(galleryName.value)">Create </button>
      </div>
    </div>
  </div>
</div>


 
<div bsModal #galleryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="galleryModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Create new gallery {{editedGalleryId}}</h4>
      </div>
      <div class="modal-body">

        <input type="file" ng2FileSelect [uploader]="uploader" multiple name="uploadField" /><br/>
        <div >

            <h3>Upload queue</h3>
            <p>Queue length: </p>

            <table class="table">
                <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th>Size</th>
                    <th>Progress</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td><strong>{{ item?.file?.name }} </strong></td>
                    <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                    <td *ngIf="uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-success btn-xs"
                                (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                        <button type="button" class="btn btn-warning btn-xs"
                                (click)="item.cancel()" [disabled]="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="button" class="btn btn-danger btn-xs"
                                (click)="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <div>
                <div>
                    Queue progress:
                    <div class="progress" style="">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-s"
                        (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                </button>
                <button type="button" class="btn btn-warning btn-s"
                        (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                </button>
                <button type="button" class="btn btn-danger btn-s"
                        (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                </button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

