<div class="dr-galleries">
    <div class="dr-galleries-side-list">
        <div class="dr-header">
            <img class="dr-header-img" src="/static/logo.png" (click)="toggleSideBar()">
            <div class="dr-header-text">DARKROOM</div>
        </div>
        <div class="dr-galleries-side-list-item" *ngFor="let g of galleries">
            <a href="#/gallery/{{g.Id}}">
                <div > {{ g.Name }} </div>
            </a>
        </div>
    </div>


    <div class="dr-content">
        <photo-slider> </photo-slider>

        <!-- <photo-gallery> </photo-gallery>-->
       
       <!-- 
        <div class="dr-galleries-list">
            <div class="dr-galleries-item" *ngFor="let g of galleries">
                <a href="#/gallery/{{g.Id}}">
                    <div class="dr-gallery-cover-container" >
                        <img class="dr-gallery-cover" src="/gallery/{{g.Id}}/cover">
                        <div class="dr-gallery-name" > {{ g.Name }} </div>
                    </div>
                </a>
            </div>
        </div>
       -->
    </div>
</div>
