
body{ 
   width:100%; 
   height:100%; 
   background-color: black;

   background-size: cover;
   display: flex;
   flex-direction: column;
   font-family: 'Roboto', sans-serif;
}
html{ 

   width:100%; 
   height:100%; 
   color: white; 
   font-size: 40px;
   user-select: none;
}
* {
  margin: 0;
  padding: 0;
}
#dr-create-gallery-button{
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 50;

}
.dr-drawer{
    position: absolute;
    width: 300px;
    height: 100%;
    background-color:black;
    top:0px;
    left: -400px;
    z-index: 100;
    color: gray;
    font-size: 40px;
    transition: all 200ms ease-in-out;
}
.dr-drawer-title{
    margin: 40px;
    font-size: 38px;
    cursor: pointer;
 }
.dr-drawer-name{
    margin: 20px;
    font-size: 28px;
}

.dr-drawer-name:hover{
    color: white;
    cursor: pointer;
}

.loader{
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url(../img/stub2.gif);
    pointer-events: none;
    background-position: center;
    opacity: 1.0;
    transition: opacity 500 ease-in-out;
}
#dr-loader{
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url(../img/stub2.gif);
    pointer-events: none;
    background-position: center;
    opacity: 1.0;
    transition: opacity 1000ms ease-in-out;
}


#dr-hamburger{
    position: absolute;
    left: 0px;
    padding: 20px;
    height: 40px;
    width: 50px;
    transition: all 1000ms ease-in-out;
    color: white;
    z-index: 10;
}

#dr-header:hover{

}

.dr-header-text{
    float:left;
    padding: 10px;
    font-size: 40px;
}

.dr-header-img{
    float:left;
    width: 80px;
}
.dr-list{
    width: 100%;
    height: 100%;
}
.dr-gallery-cover-container{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity 400ms ease-out;
    background-color: black;
}


nav{
    position: absolute;
}
#dr-photo-container{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 800;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0,0,0,0.9);
    transition: opacity 200ms ease-in-out;
}
#dr-photo-slider{
    position:relative;
    left: 0px;
    top: 2%;
    display: flex;
    height: 96%;
    z-index: 1000;
    transition: transform 200ms ease-in-out;
}

.dr-photo-big{
    flex: 1 1 auto;
    height: 100%;
    opacity: 0.4;
    margin-right: 20px;
    position: relative
}
.dr-photo-vote{
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 26px;
    opacity: 0.4;

}

.dr-photo-big-selected{
    opacity: 1;
}

.dr-title{
   padding: 40px; 
   flex: 0 1 auto;
   color: white;
   font-size: 50px;
   height: 50px;
}







.dr-comment{
   font-size: 25px;
   flex: 0 1 auto;
   background-color: #222;
   color: white;
   max-width: 100%;
   padding: 15px;
}

.dr-comment-photo{
   margin-left: 40px;
   margin-top: 5px;
   margin-right: 40px;
   margin-bottom: 40px;
   font-size: 20px;
   background-color: #222;
   color: white;
   max-width: 100%;
   padding: 18px;
} 


.dr-galleries{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;


}
.dr-galleries-side-list{
    background-color: #090909;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    height: 100px;
    position: relative;
}
.dr-content{
    flex: 1 1 80%;
}
.dr-galleries-list-container{
    height: 100%;
    flex: 1 1 80%;
    display: flex;
    flex-direction:row ;
    align-content: center;
    justify-content: center;
}
.dr-galleries-list{
    flex: 0 1 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;

}
.dr-galleries-side-list-item{
    flex: 0 1 auto;
    text-align: right;
    padding: 5px;
    font-size: 20px;
}
.dr-galleries-item{
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
}

.dr-gallery-name{
    position: absolute;
    opacity: 0;
    background-color: black;
    width: 100%;
    height: 120px;
    bottom: 0px;
    transition: opacity 500ms ease-in-out;
}
.dr-gallery-name:hover{
    opacity: 0.5;
}

.dr-gallery-comment{
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    left: 30px;
}

.dr-gallery-name-text{
    font-size: 50px;
    position: absolute;
    bottom:70px;
    left: 30px;
}



.dr-gallery-cover{
    height: 100%;
    transition: transform 500ms;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}





.modal-lg{
}
.modal-lg{
    width: 95%;
    height: 95%;
}
.modal-content{
    background-color: #222;
    height: 95%;
    position: relative;
}
.modal-header{
    border-bottom: none;
}
input{
    color: #222;
}

.modal-body{
    display: flex;
    flex-direction: column;
    height: 95%;
    font-size: 10px;
}

.dr-upload-panel{
    flex: 0 1 auto;
    height: 200px;
}

.dr-upload{
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 80%;
}
.dr-upload-item{
    background-color: black;
    margin: 10px;

}

.dr-upload-container{
    width: 200px;
    height: 200px;
    position: relative;
    margin: 3px;
    padding: 3px;
    border: solid 1px gray;
}

.dr-upload-photo{
    position: absolute;
    max-width: 200px;
    max-height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.dr-upload-photo-comment{
   font-size: 14px; 
   width: 250px;
    
}
.dr-upload-delete{
    position: absolute;
    right: 0px;
}
